{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
{% endblock %}

{% block content %}
<br />
    <div class="container">

      <div class="col-12 col-md-6 offset-md-3">
          <div class="search-wrapper">
              <form method="get" action="/search/" class="autocomplete-me">
                  <div class="input-group">
                      <input name="q" id="id_q" type="search" class="form-control" placeholder="Search for..." autocomplete="off" required>
                      <span class="input-group-btn">
                          <button type="submit" value="Search" id="submit-button" class="btn btn-secondary" type="button">Go!</button>
                      </span>
                  </div>
              </form>
          </div>
      </div>
      <br />
      <div class="outside-form">
          <div class="row">
              <div class="col-12 col-md-6 offset-md-3">
              {% if query %}
              <h3>Results for <small>{{query}}</small></h3>
              <hr />
              {% for result in page.object_list %}
                  <p>
                      <a href="/note/{{result.object.pk}}/{{result.object.title}}">{{ result.object.title }}</a>
                  </p>
                  <p>
                    {{result.object.body|truncatechars:170}}
                  </p>
                  <hr />
              {% empty %}
                  <p>No results found.</p>
              {% endfor %}
    
              {% if page.has_previous or page.has_next %}
                  <div>
                      {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                      |
                      {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                  </div>
              {% endif %}
              {% else %}
                  {# Show some example queries to run, maybe query syntax, something else? #}
              {% endif %}
              </div>
            </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}

<script src="{% static 'assets/js/search_query.js' %}"></script>

{% endblock %}